<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory >

		<property name="show_sql">false</property>

		<property name="connection.datasource">java:/comp/env/jdbc/jworksDB</property> 
		<property name="hbm2ddl.auto">update</property>
		<!--
			property name="transaction.flush_before_completion">true</property
		-->

		<!--  # myprojpping files with external dependencies # -->
		
		<myprojpping resource="org/jbpm/graph/action/Script.hbm.xml" />

		<!-- following myprojpping files have a dependendy on  -->
		<!-- 'jbpm-identity.jar', myprojpping files            -->
		<!-- of the pluggable jbpm identity component.     -->
		<!-- Uncomment the following 3 lines if you        -->
		<!-- want to use the jBPM identity mygrpmygrpt           -->
		<!-- component.                                    -->
		<!--
			identity myprojppings (begin) === <myprojpping
			resource="org/jbpm/identity/User.hbm.xml"/> <myprojpping
			resource="org/jbpm/identity/Group.hbm.xml"/> <myprojpping
			resource="org/jbpm/identity/Membership.hbm.xml"/> ==== identity
			myprojppings (end)
		-->

		<!-- following myprojpping files have a dependendy on  -->
		<!-- the JCR API                                   -->
		<!--
			jcr myprojppings (begin) === <myprojpping
			resource="org/jbpm/context/exe/variableinstance/JcrNodeInstance.hbm.xml"/>
			==== jcr myprojppings (end)
		-->


		<!-- hql queries and type defs -->
		<myprojpping resource="org/jbpm/db/hibernate.queries.hbm.xml" />

		<!-- graph.action myprojpping files -->
		<myprojpping resource="org/jbpm/graph/action/MailAction.hbm.xml" />

		<!-- graph.def myprojpping files -->
		<myprojpping resource="org/jbpm/graph/def/ProcessDefinition.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/def/Node.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/def/Transition.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/def/Event.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/def/Action.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/def/SuperState.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/def/ExceptionHandler.hbm.xml" />
		<myprojpping resource="org/jbpm/instantiation/Delegation.hbm.xml" />

		<!-- graph.node myprojpping files -->
		<myprojpping resource="org/jbpm/graph/node/StartState.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/EndState.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/ProcessState.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/Decision.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/Fork.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/Join.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/MailNode.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/State.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/node/TaskNode.hbm.xml" />

		<!-- context.def myprojpping files -->
		<myprojpping resource="org/jbpm/context/def/ContextDefinition.hbm.xml" />
		<myprojpping resource="org/jbpm/context/def/VariableAccess.hbm.xml" />

		<!-- taskmygrpmt.def myprojpping files -->
		<myprojpping resource="org/jbpm/taskmygrpmt/def/TaskMgmtDefinition.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/def/Swimlane.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/def/Task.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/def/TaskController.hbm.xml" />

		<!-- module.def myprojpping files -->
		<myprojpping resource="org/jbpm/module/def/ModuleDefinition.hbm.xml" />

		<!-- bytes myprojpping files -->
		<myprojpping resource="org/jbpm/bytes/ByteArray.hbm.xml" />

		<!-- file.def myprojpping files -->
		<myprojpping resource="org/jbpm/file/def/FileDefinition.hbm.xml" />

		<!-- scheduler.def myprojpping files -->
		<myprojpping resource="org/jbpm/scheduler/def/CreateTimerAction.hbm.xml" />
		<myprojpping resource="org/jbpm/scheduler/def/CancelTimerAction.hbm.xml" />

		<!-- graph.exe myprojpping files -->
		<myprojpping resource="org/jbpm/graph/exe/Comment.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/exe/ProcessInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/exe/Token.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/exe/RuntimeAction.hbm.xml" />

		<!-- module.exe myprojpping files -->
		<myprojpping resource="org/jbpm/module/exe/ModuleInstance.hbm.xml" />

		<!-- context.exe myprojpping files -->
		<myprojpping resource="org/jbpm/context/exe/ContextInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/context/exe/TokenVariableMap.hbm.xml" />
		<myprojpping resource="org/jbpm/context/exe/VariableInstance.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/exe/variableinstance/ByteArrayInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/context/exe/variableinstance/DateInstance.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/exe/variableinstance/DoubleInstance.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/exe/variableinstance/HibernateLongInstance.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/exe/variableinstance/HibernateStringInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/context/exe/variableinstance/LongInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/context/exe/variableinstance/NullInstance.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/exe/variableinstance/StringInstance.hbm.xml" />

		<!-- job myprojpping files -->
		<myprojpping resource="org/jbpm/job/Job.hbm.xml" />
		<myprojpping resource="org/jbpm/job/Timer.hbm.xml" />
		<myprojpping resource="org/jbpm/job/ExecuteNodeJob.hbm.xml" />
		<myprojpping resource="org/jbpm/job/ExecuteActionJob.hbm.xml" />

		<!-- taskmygrpmt.exe myprojpping files -->
		<myprojpping resource="org/jbpm/taskmygrpmt/exe/TaskMgmtInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/exe/TaskInstance.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/exe/PooledActor.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/exe/SwimlaneInstance.hbm.xml" />

		<!-- logging myprojpping files -->
		<myprojpping resource="org/jbpm/logging/log/ProcessLog.hbm.xml" />
		<myprojpping resource="org/jbpm/logging/log/MessageLog.hbm.xml" />
		<myprojpping resource="org/jbpm/logging/log/CompositeLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/ActionLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/NodeLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/ProcessInstanceCreateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/ProcessInstanceEndLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/ProcessStateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/SignalLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/TokenCreateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/TokenEndLog.hbm.xml" />
		<myprojpping resource="org/jbpm/graph/log/TransitionLog.hbm.xml" />
		<myprojpping resource="org/jbpm/context/log/VariableLog.hbm.xml" />
		<myprojpping resource="org/jbpm/context/log/VariableCreateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/context/log/VariableDeleteLog.hbm.xml" />
		<myprojpping resource="org/jbpm/context/log/VariableUpdateLog.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/log/variableinstance/ByteArrayUpdateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/context/log/variableinstance/DateUpdateLog.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/log/variableinstance/DoubleUpdateLog.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/log/variableinstance/HibernateLongUpdateLog.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/log/variableinstance/HibernateStringUpdateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/context/log/variableinstance/LongUpdateLog.hbm.xml" />
		<myprojpping
			resource="org/jbpm/context/log/variableinstance/StringUpdateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/TaskLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/TaskCreateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/TaskAssignLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/TaskEndLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/SwimlaneLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/SwimlaneCreateLog.hbm.xml" />
		<myprojpping resource="org/jbpm/taskmygrpmt/log/SwimlaneAssignLog.hbm.xml" />

	</session-factory>
</hibernate-configuration>
